@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: #141311;
}
.logo{
    width: 3em;
    height: auto;
}
.btnSign{
    background-color: #f7c94a;
    margin-right: 1em;
    
}
.container-fluid1{
background: url(movie-h.jpg);
background-position: center;
background-size: cover;
width: 100%;
height: 100vh; 
color: #ffc526;
font-family: 'Kumbh Sans', sans-serif; 
}
.imgDesc{
    width: 70%;
    height: auto;
}
.Desc{
    background-color:  #141311; 
    margin-left: 5em;
    margin-right:5em;
}
.row1{
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}
.title1{
    padding-bottom: 0.5em;
}